schemaVersion: '1.0'
uid: ${UID}
type: product_registration
name: ${NAME}
catalogStatus: complete
owner:
  team: ${OWNER_TEAM}
  contact: ${OWNER_CONTACT}
businessContext:
  pillar: ${PILLAR_ID}
  productFamily: ${PRODUCT_FAMILY}
repository:
  provider: github
  url: ${REPO_URL}
  defaultBranch: main
sdpManifest:
  mode: git
  path: .draft/sdp.yaml
